/* Сбрасываем стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* В этом блоке будем определять переменные */
:root {

}

body {
    background-color: black;
    color: white;
}

/*  Логотип.
    Контейнер понадобился,
    чтобы таким образом выровнять логотип по центру.
*/
.logo_container {
    display: flex;
    justify-content: center;
    height: 0;
}

.logo {
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    width: 200px;
    top: 64px;
    position: relative;
    z-index: 10;
}

/*****************************************/
/*** Слои для отображения симуляции 3D ***/
/*****************************************/
/*  В самом верхнем теге
    устанавливаем глубину перспективы,
    а так же убираем бегунки от большого заднего фона.
*/
.layers {
    perspective: 1000px;
    overflow: hidden;
}

/*  Во вложенном теге мы указываем стиль трансформации,
    иначе она будет по другому отображаться.
    Размер блока увеличиваем, поскольку они практически
    пустые заполнены в основном задним фоном.
*/
.layers_container {
    height: 100vh;
    transform-style: preserve-3d;
    transform: rotateX(var(--move-y)) rotateY(var(--move-x));
}

/*  Описываем общую часть для слоёв заднего фона.
    При помощи отрицательного inset мы растягиваем
    картинки, чтобы скрыть их края за пределами экрана.
*/
.layers_item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    inset: -10vh -10vw;
}

/*  Специализированное описание самого заднего фона.
*/
.layer-1 {
    background-image: url(../img/3D-background-image.jpg);
    transform: translateZ(-100px);
}

