/* Сбрасываем стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* В этом блоке будем определять переменные */
:root {

}

body {
    background-color: black;
    color: white;
}

/*  Логотип.
    Контейнер понадобился,
    чтобы таким образом выровнять логотип по центру.
*/
.logo_container {
    display: flex;
    justify-content: center;
    height: 0;
}

.logo {
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    width: 200px;
    top: 48px;
    position: relative;
    z-index: 10;
}

/*****************************************/
/*** Слои для отображения симуляции 3D ***/
/*****************************************/
/*  В самом верхнем теге
    устанавливаем глубину перспективы,
    а так же убираем бегунки от большого заднего фона.
*/
.layers {
    perspective: 1000px;
    overflow: hidden;
}

/*  Во вложенном теге мы указываем стиль трансформации,
    иначе она будет по другому отображаться.
    Размер блока увеличиваем, поскольку они практически
    пустые заполнены в основном задним фоном.
*/
.layers_container {
    height: 100vh;
    transform-style: preserve-3d;
    transform: rotateX(var(--move-y)) rotateY(var(--move-x));
}

/*  Описываем общую часть для слоёв заднего фона.
    При помощи отрицательного inset мы растягиваем
    картинки, чтобы скрыть их края за пределами экрана.
*/
.layers_item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    inset: -10vh -10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*  Специализированное описание самого заднего слоя (фона).
*/
.layer-1 {
    background-image: url(../img/3D-background-image.jpg);
    transform: translateZ(-100px);
}

/* Специализированное описание второго слоя.
    Специально изменим маштаб, чтобы все рыбки влезали
    в экран.
*/
.layer-2 {
    background-image: url(../img/Layer-2.png);
    transform: translateZ(100px);
    background-size: 80vw;
}

/* Специализированное описание третьего слоя.
*/
.layer-3 {
    background-image: url(../img/Layer-3.png);
    transform: translateZ(200px);
    background-size: 24vw;
    background-position: 83% 13%;
}

/* Специализированное описание четвёртого слоя.
    В этом блоке не будет картинки,
    а заголовок (hero-content).
*/
.layer-4 {
    transform: translateZ(400px);
}

/* Специализированное описание пятого слоя.
*/
.layer-5 {
    background-image: url(../img/Layer-5.png);
    background-position: left bottom;
    background-size: 45%;
    transform: translateZ(500px);
    pointer-events: none;
}

/* Специализированное описание шестого слоя.
*/
.layer-6 {
    background-image: url(../img/Layer-6.png);
    background-position: right bottom;
    background-size: 45%;
    transform: translateZ(550px);
    pointer-events: none;
}

/* Специализированное описание седьмого слоя.
*/
.layer-7 {
    background-image: url(../img/Layer-7.png);
    background-position: 40% 40%;
    background-size: 12%;
    transform: translateZ(600px);
}

/*****************************************/
/*** Описание заголовка "hero-content" ***/
/*****************************************/
.hero-content {
    margin-top: 15vh;
    text-align: center;
    text-transform: uppercase;
}

.hero-content h1 {
    font-size: xx-large;
    line-height: .8em;
}

.hero-content h1 span {
    display: block;
}

.hero-content_p {
    font-size: small;
}

.hero-content_button {
    background-color: transparent;
    border-radius: 10em;
    border: rgba(255, 255, 255, .4) 3px solid;
    color: white;
    padding: .2em 1em;
    text-transform: uppercase;
    cursor: pointer;
}
